<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xugw.kettlecore.mapper.JobHistoryMapper">
    <insert id="addJobHistory" parameterType="com.xugw.kettlecore.entity.JobHistoryEntity">
        insert into jobhistory (create_at,update_at,jobid,status,log_txt)
        values (#{create_at},#{update_at},#{jobId},#{status},#{log_txt});
    </insert>
</mapper>